<div class="row">
    <div class="col-sm-12">
        <H2>Rimbursement Page</H2>
    </div>
</div>

<HR>

<div class="row">
    <div class="col-sm-12">
        <button type="button"> Add New</button>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table style="width:100%" border="1 px solid">
                <tr>
                    <th>Header1</th>
                    <th>Header2</th>
                    <th>Header3</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button type="button">
                            Edit </button> <button type="button">Add</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button type="button">
                            Edit </button> <button type="button">Add</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button type="button">
                            Edit </button> <button type="button">Add</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button type="button">
                            Edit </button> <button type="button">Add</button>
                    </td>
                </tr>
            </table>
        </div>

    </div>
